.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.input {
  background-color: var(--color-white);
  border: 1px solid var(--theme-input-border-color);
  border-radius: var(--theme-input-border-radius);
  padding: 1rem;
  outline: none;
}

.input:focus {
  outline: var(--theme-focus-color) solid 2px;
  outline-offset: var(--theme-input-focus-ring-offset);
  position: relative;
  z-index: 1;
}
