.accordion {
  background-color: var(--color-white);
  border: 1px solid var(--theme-border-color);
  margin: 0;
  margin-bottom: -1px;
  transition: margin 0.1s, border-radius 1s;
}

.accordion[open] {
  background-color: var(--color-gray-scale-90);
  border-radius: var(--theme-input-border-radius);
  margin: 2rem 0;
}

.accordion[open]:first-child {
  margin: 0 0 2rem 0;
}

.accordion[open]:last-child {
  margin: 2rem 0 0 0;
}

.accordion:first-child {
  border-top-left-radius: var(--theme-input-border-radius);
  border-top-right-radius: var(--theme-input-border-radius);
}

.accordion:last-of-type {
  border-bottom-left-radius: var(--theme-input-border-radius);
  border-bottom-right-radius: var(--theme-input-border-radius);
}

.summaryWrapper {
  display: flex;
  flex-direction: row;
}

.summaryWrapper:focus {
  outline: var(--theme-focus-color) solid 2px;
  outline-offset: var(--theme-input-focus-ring-offset);
  position: relative;
  z-index: 1;
}

.summaryWrapper::marker, /* Latest Chrome, Edge, Firefox */ 
.summaryWrapper::-webkit-details-marker /* Safari */ {
  display: none;
}

.accordion[open] .summaryWrapper {
  border-bottom: 1px solid var(--color-gray-scale-70);
}

.summary {
  flex-grow: 1;
  padding: 2rem;
  margin: 0;
}

.accordion[open] .summary {
  font-weight: 600;
}

.toggleWrapper {
  flex-grow: auto;
  display: flex;
}

.toggleButton {
  display: flex;
  align-items: center;
  color: var(--color-gray-scale-50);
  padding: 2rem;
  transform: rotate(0deg);
  transition: transform 0.5s;
  pointer-events: none;
}

.accordion[open] .toggleButton {
  color: var(--color-black);
}

.toggleButton:focus {
  outline: var(--theme-focus-color) solid 2px;
}

.accordion[open] .toggleButton {
  transform: rotate(-180deg);
}

.content {
  border-radius: var(--theme-input-border-radius);
  overflow: hidden;
}

.accordion[open] .content {
  animation: accordion 0.5s ease-in-out;
}

@keyframes accordion {
  from {
    max-height: 0;
  }
  to {
    max-height: 1000px;
  }
}
