.button {
  appearance: none;
  padding: 1rem;
  border: 1px solid var(--color-gray-scale-50);
  border-radius: 0.5rem;
  background-color: var(--color-gray-scale-80);
  color: var(--color-black);
  display: inline-flex;
  justify-content: center;
}

.button:active {
  background-color: var(--color-gray-scale-50);
}

.button:focus,
.button:focus-within {
  outline: var(--theme-focus-color) solid 2px;
  outline-offset: var(--theme-input-focus-ring-offset);
  position: relative;
  z-index: 1;
}

button.positive {
  border: 1px solid #0969da;
  background-color: #0f93d1;
  color: var(--color-white);
}

button.positive:active {
  border: 1px solid #0f93d1;
  background-color: #0969da;
  color: var(--color-white);
}

button.creative {
  border: 1px solid #347474;
  background-color: #42b883;
  color: var(--color-white);
}

button.creative:active {
  border: 1px solid #42b883;
  background-color: #347474;
  color: var(--color-white);
}

.button:disabled,
.button:disabled:active {
  border: 1px solid var(--color-light-gray);
  background-color: var(--theme-disabled-background-color);
  color: var(--theme-disabled-font-color);
  text-shadow: 0 0 0.2rem #000;
}
