:root {
  --primary-color: #262626;
  --secondary-color: #f7f7f7;

  /* Use https://chir.ag/projects/name-that-color/ */

  --color-black: #000000;
  --color-gray-scale-10: #181818;
  --color-gray-scale-20: #303030;
  --color-gray-scale-30: #484848;
  --color-gray-scale-40: #606060;
  --color-gray-scale-50: #808080; /* Center */
  --color-gray-scale-60: #b0b0b0;
  --color-gray-scale-70: #c8c8c8;
  --color-gray-scale-80: #e0e0e0;
  --color-gray-scale-90: #f8f8f8;
  --color-white: #ffffff;
  --color-gray: #808080;

  --theme-border-color: var(--color-gray-scale-60);
  --theme-focus-color: #4d90fe;
  --theme-input-focus-ring-offset: 0.1rem;
  --theme-input-border-color: var(--theme-border-color);
  --theme-input-border-radius: 0.5rem;
  --theme-input-label-size: 100%;
  --theme-input-label-weight: bold;
  --theme-input-label-color: var(--color-black);
  --theme-input-attention: #f70776;

  --theme-disabled-background-color: var(--color-gray-scale-80);
  --theme-disabled-font-color: var(--color-gray-scale-80);

  --breakpoint-sm: 0;
  --breakpoint-md: 60rem; /* 600px */
  --breakpoint-lg: 102.4rem; /* 1024px */
  --breakpoint-xl: 144rem; /* 1440px */
}

html {
  font-size: 62.5%; /* Set font size to 10px, when using rem */
}

body {
  background-color: #f8fafc;
  color: var(--primary-color);
  font-family: "Inter", sans-serif;
  font-size: 1.6rem; /* Use 16px font size, as a base font size */
}
