.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.input {
  background-color: var(--color-white);
  border: 1px solid var(--theme-input-border-color);
  border-radius: var(--theme-input-border-radius);
  padding: 1rem;
}

.input:focus {
  outline: var(--theme-focus-color) solid 2px;
  outline-offset: 0.1rem;
  position: relative;
  z-index: 1;
}

.optionList {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 4px 0 0 0;
  position: absolute;
  top: 100%;
  z-index: 1;
}

.option {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  padding: 1rem;
  border-bottom: none;
}

.option:hover {
  background-color: var(--color-gray);
}

.option:first-child {
  border-top-left-radius: var(--theme-input-border-radius);
  border-top-right-radius: var(--theme-input-border-radius);
}

.option:last-child {
  border-bottom-left-radius: var(--theme-input-border-radius);
  border-bottom-right-radius: var(--theme-input-border-radius);
  border-bottom: 1px solid var(--color-black);
}

.label {
  color: var(--theme-input-label-color);
  font-weight: var(--theme-input-label-weight);
  font-size: var(--theme-input-label-size);
}
