.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.input {
  background-color: var(--color-white);
  border: 1px solid var(--theme-input-border-color);
  border-radius: var(--theme-input-border-radius);
  padding: 1rem;
}

.input:focus {
  outline: var(--theme-focus-color) solid 2px;
  outline-offset: var(--theme-input-focus-ring-offset);
  position: relative;
  z-index: 1;
}

.optionList {
  border-radius: var(--theme-input-border-radius);
  box-shadow: 0px 0px 10px var(--color-gray-scale-70);
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 4px 0 0 0;
  position: absolute;
  top: 100%;
  z-index: 1;
}

.option {
  background-color: var(--color-white);
  border-left: 1px solid var(--theme-border-color);
  border-right: 1px solid var(--theme-border-color);
  padding: 1rem;
}

.option:hover {
  background-color: var(--color-gray-scale-80);
}

.option:first-child {
  border-top: 1px solid var(--theme-border-color);
  border-top-left-radius: var(--theme-input-border-radius);
  border-top-right-radius: var(--theme-input-border-radius);
}

.option:last-child {
  border-bottom: 1px solid var(--theme-border-color);
  border-bottom-left-radius: var(--theme-input-border-radius);
  border-bottom-right-radius: var(--theme-input-border-radius);
}
